/*  
.welcome {
  background: url(../assets/welcome-bg.png) left center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.welcome .welcome-content {
  width: 100%;
  position: relative;
}
.welcome .welcome-content .welcome-text h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 1.3px;
  margin-bottom: 35px;
  color: #1F2128;
}
.welcome .welcome-content .welcome-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.53px;
  color: #606060;
  margin-bottom: 35px;
}
.welcome .welcome-content .slider-wrapper {
  position: relative; 
  padding-left: 70px;
  width: 100%;
 left: 0;
    width: 100%;
    position: relative;


}

.welcome .welcome-content .slider-wrapper .base {
  position: absolute;
  width: 60%;
  height: 230px;
  left: 20px;
  bottom: 0;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.13);
}

.welcome .welcome-content .slider-wrapper .base .prev,
.welcome .welcome-content .slider-wrapper .base .next {
  position: absolute;
  bottom: 33px;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
  z-index: 999;
}

.welcome .welcome-content .slider-wrapper .base .prev {
  right: 70px;
}

.welcome .welcome-content .slider-wrapper .base .next {
  right: 30px;
}

.welcome .welcome-content .slider-wrapper .owl-carousel {
  position: relative;
  z-index: 2;
}

.welcome .welcome-content .slider-wrapper .owl-carousel .item .img {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.welcome .welcome-content .slider-wrapper .owl-carousel .item .text {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.welcome .welcome-content .slider-wrapper .owl-carousel .item .text h5 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.53px;
  margin-bottom: 10px;
  color: #1F2128;
}

.welcome .welcome-content .slider-wrapper .owl-carousel .item .text p {
  font-weight: 400;
  font-size: 14px;
  color: #606060;
  letter-spacing: 0.47px;
  line-height: 26px;
}

.welcome .welcome-content .slider-wrapper .owl-carousel .firstActiveItem .text {
  visibility: visible;
  opacity: 1;
}


@media (max-width: 1400px) {
  .welcome .welcome-content {
    margin-top: 100px;
  }
}

@media (max-width: 1200px) {
  .welcome {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .welcome .welcome-content .slider-wrapper .base {
    width: 100%;
    left: 15px;
  }
}

@media (max-width: 991px) {
  .welcome .welcome-content .welcome-text {
    text-align: center;
    margin-bottom: 50px;
  }

  .welcome .welcome-content .welcome-text a {
    margin: auto;
  }

  .welcome .welcome-content .slider-wrapper .base .prev,
  .welcome .welcome-content .slider-wrapper .base .next {
    font-size: 30px; 
  }
}  */











.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}
.welcome {
  background: url(../assets/welcome-bg.png) left center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 'auto'
}
.welcome-content {
  width: '100%';
padding-Right: 900px;
padding-bottom: 250px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.welcome-text h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 1.3px;
  margin-top: 200px;
  margin-bottom: 35px;
  color: #1f2128;
}
.welcome-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.53px;
  color: #606060;
  margin-bottom: 35px;
}
.dark-btn {
  display: block;
  width: 195px;
  height: 45px;
  position: relative;
  overflow: hidden;
  border: 1px solid #1f2128;
}
.dark-btn .show-btn,
.dark-btn .hide-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  width: 195px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.35px;
  transition: all 0.3s ease;
}
.dark-btn .show-btn {
  left: 0;
  color: #1f2128;
}
.dark-btn .hide-btn {
  left: 195px;
  color: #fff;
  background: #1f2128;
}
.dark-btn:hover .show-btn {
  left: -195px;
}
.dark-btn:hover .hide-btn {
  left: 0;
}
@media (max-width: 1400px) {
  .welcome-content {
    margin-top: 100px;
  }
}
@media (max-width: 1200px) {
  .welcome {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}


.slider-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
    position: absolute;
    top:0px;
    left:0px;
    width:10%;

}

.base{
      position: absolute;
      width: 60%;
      height: 230px;
      right: 0px;
      bottom: 0px;
      background: #fff;
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.13);
}
.prev {
  position: absolute;
  right: 70px;
  bottom: 33px;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
  z-index: 999;
}
.fa{
  display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased
}
 .next {
  position: absolute;
  right: 30px;
  bottom: 33px;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
  z-index: 999;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.owl-carousel {
  position: relative;
  z-index: 2;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
  width: 100%;
}

.item .img {
   width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.item .img img {


  object-fit: cover;
}

.item .text h5 {
   font-size: 1.2rem;
  color: #333; 
  margin-bottom: 5px;
  font-weight: 400;
    font-size: 14px;
    display: block;
    unicode-bidi: isolate;
    letter-spacing: 0.47px;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
    visibility: visible;
    opacity: 1;
    
}

.item .text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
    font-size: 14px;
    color: #606060;
    letter-spacing: 0.47px;
    line-height: 26px;
}

.owl-theme .owl-nav [class*='owl-'] {
  background: #ddd;
  color: #333;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
   visibility: visible;
    opacity: 1;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #666;
  color: #fff;
} 
