 .parallax-image{
    background: url('../assets/hm/parallax-1.jpg');
    height: 400px;
    position: relative;
    overflow: hidden; 
} 
.half-parallax .parallax-image {
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  .half-parallax .parallax-image:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2;
    opacity: 0.2;
  }
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}

  .half-parallax .parallax-items {
    position: relative;
    z-index: 3;
    margin-top: -140px;
    padding-left: 90px;
  }
  .half-parallax .parallax-items .parallax-item {
    font-family: "Montserrat", sans-serif;
    background: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.13);
    padding: 55px 40px;
    text-align: center;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    margin: 20px;;
    
height: 250px;
width: 320px;
  }
  .half-parallax .parallax-items .parallax-item i {
    font-size: 30px;
    color: #1F2128;
    margin-bottom: 30px;
  }
  .half-parallax .parallax-items .parallax-item .feature-title {
    font-weight: 400;
    font-size: 16px;
    color: #1F2128;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
  }
  .half-parallax .parallax-items .parallax-item p {
    font-weight: 400;
    font-size: 14px;
    color: #606060;
    letter-spacing: 0.88px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .half-parallax .parallax-items .parallax-item .dark-btn {
    margin: auto;
  }
  .half-parallax .parallax-items .parallax-item:hover {
    margin-top: -10px;
  }
  .section {
    padding-top: 110px;
    padding-bottom: 90px;
    display: block;
    padding: 120px;
  
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    align-self: center !important;
 
    
}
  
  .left-heading .section-title {
    font-weight: 400;
    font-size: 28px;
    color: #1F2128;
    letter-spacing: 1.75px;
    line-height: 42px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;

}
.left-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #606060;
  line-height: 28px;
  letter-spacing: 1px;
}
.left-text p.dark {
  color: #1F2128;
}

.left-text p {
  margin-bottom: 30px;
}
.left-text p {
  margin-bottom: 30px;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.left-text ul li {
  font-weight: 400;
  font-size: 14px;
  color: #606060;
  padding-left: 30px;
  position: relative;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.left-text ul li:before {
  font-family: FontAwesome;
  content: "\f178";
  left: 0px;
  position: absolute;
}
.left-text ul li:hover {
  padding-left: 40px;
}
.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-bottom {
  -ms-flex-item-align: flex-end !important;
  align-self: flex-end !important;
}

 .row  {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.imgfix_wrapper_layer{
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

 .page-gallery {
  height: 185px;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
  
}  
.page-gallery img {
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.page-gallery img:hover {
  transform: scale(1.05);
}
.imgfix_src_img {
  width: 199px;
  height: 141px;
  left: -999999px;
  right: -999999px;
  top: -999999px;
  bottom: -999999px;
  z-index: 0;
  max-width: auto !important;
  min-width: auto !important;
  margin: auto;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-left: 150px
}
/* counter  */
 
.parallax-counter {
  min-height: 337px;
  overflow: hidden;
  position: relative;
}

.parallax-counter:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: 0.5;
  background: #000;
  z-index: 2;
  top: -20%;
  left: -20%;
}

.parallax-counter .parallax-content {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  width: 100%;
  
}

.parallax-counter .parallax-content .count-item {
  height: 170px;
  width:172px;
  position: relative;
  overflow: hidden;
  margin-left: 150px;
  padding-bottom: 80px;
}

.parallax-counter .parallax-content .count-item:hover strong {
  margin-top: 60px;
}

.parallax-counter .parallax-content .count-item strong {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 1.72px;
  margin-bottom: 10px;
  color: #fff;
  margin-top: 70px;
  transition: all 0.3s ease;
}

.parallax-counter .parallax-content .count-item span {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.86px;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 991px) {
  .parallax-counter {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .parallax-counter .parallax-content {
    position: relative !important;
    top: 0% !important;
    transform: perspective(1px) translateY(0%) !important;
  }
  .parallax-counter .parallax-content .count-item {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .parallax-counter .parallax-content .count-item:hover strong {
    margin-top: 0px;
  }
  .parallax-counter .parallax-content .count-item strong {
    margin-top: 0px;
  }
}
/* ////////////////////////////////////our team /////////////////////////////////// */

    /* Team.css */
   .section{ padding-top: 110px;
    padding-bottom: 90px;
   }
   h2{
    margin-top: 0px;
    margin-bottom: 0px;
   }
    .center-heading .section-title {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 28px;
      color: #1F2128;
      letter-spacing: 1.75px;
      line-height: 38px;
      margin-bottom: 40px;
      text-align: center;
      padding-right: 200px;
  }   

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #606060;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 60px;
}
.center-text p {
  margin-bottom: 30px;
}
.position-relative {
  position: relative !important;
}
.person-item {
  margin-bottom: 45px;
  float: left;
  width: 100%;
  padding-right: 250px;
  
}
.person-item .img {
 position: relative;
  z-index: 2;
  margin-top: 14px;
  float: left;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.13);
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  height: 153px;
  width: 150px;


 
}
.person-item .content {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  z-index: 1;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.13);
  right: 15px;
  top: 0px;
  width: 80%;
  height: 183px;
  padding-left: 120px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 20px;
}
.person-item .content .text {
  width: 100%;
  position: relative;
  min-height: 85px;
  padding-left: 120px;
}
.person-item .content .text:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 85px;
  right: 0px;
  background: #DDDDDD;
  transition: all 0.3s ease 0s;
}
.person-item .content .text .user-name {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.69px;
  color: #1F2128;
  margin-bottom: 5px;
  margin-top: 3px;
}
.person-item .content .text span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #606060;
  letter-spacing: 0.52px;
  margin-bottom: 10px;
}
.person-item .content .text ul {
  overflow-x: hidden;
}
.person-item .content .text ul li {
  float: left;
}
.person-item .content .text ul li a {
  display: inline-block;
  font-size: 14px;
  color: #6F8BA4;
  margin-right: 15px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.person-item.active .content .text:before {
  background: #1F2128;
}
.person-item:hover .img {
  margin-top: -15px;
}
.person-item:hover .content .text:before {
  background: #1F2128;
}

    

 




